body {
    height: 100%;
    background: #f0f3f7;
}

.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

* {
    box-sizing: border-box;
}

.search-box {
    padding: 20px 20px 0;
}

.el-table thead tr th {
    position: absolute;
    top: 3px;
    width: 20px;
    padding-top: 3px;
    margin-top: 2px;
    background: #f0f3f7 !important;
}

.el-message-box .el-message-box__header {
    color: #333;
    background: #f0f3f7;
}

.el-message-box .el-message-box__content {
    padding: 38px 37px 23px;
    font-size: 14px;
    color: #1f2d3d;
}

.el-dialog {
    margin-bottom: 0 !important;
}

.v-modal {
    opacity: 0.4 !important;
}
